# Python
__pycache__

backend/.pytest_cache/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.egg-info/
backend/.env
venv

# Node.js / Nuxt.js
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log
frontend/pnpm-lock.yaml
frontend/.npm/
frontend/.yarn/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# database
database.db

